# Default values for jaeger.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

jaeger:
  storage:
    type: cassandra

collector:
  install: true

  # Custom config for the collector
  customConfig:
    service:
      extensions: [jaeger_storage, healthcheckv2]
      pipelines:
        traces:
          receivers: [otlp, jaeger, zipkin]
          processors: [batch]
          exporters: [jaeger_storage_exporter]
      telemetry:
        resource:
          service.name: jaeger-collector
        metrics:
          level: detailed
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: 0.0.0.0
                    port: 8888
        logs:
          level: debug
    extensions:
      healthcheckv2:
        use_v2: true
        http:
          endpoint: 0.0.0.0:13133
      jaeger_storage:
        backends:
          memstore:
            memory:
              max_traces: 1000000
          main_cassandra:
            cassandra:
              schema:
                create: true
                keyspace: "jaeger"
                datacenter: "dc1"
              connection:
                local_dc: "dc1"
                servers:
                  - cassandra.cassandra.svc
                port: 9042
                tls:
                  insecure: true
                auth:
                  basic:
                    username: "admin"
                    password: "admin"
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      jaeger:
        protocols:
          thrift_binary:
          thrift_compact:
          thrift_http:
            endpoint: 0.0.0.0:14268
          grpc:
            endpoint: 0.0.0.0:14250
      zipkin:
        endpoint: "0.0.0.0:9411"
    processors:
      batch:
    exporters:
      jaeger_storage_exporter:
        trace_storage: main_cassandra
        retry_on_failure:
          enabled: true
          initial_interval: 10s
          max_interval: 1m
          max_elapsed_time: 5m
        queue:
          enabled: true
          num_consumers: 100
          queue_size: 10000
