# Default values for jaeger.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

query:
  install: true
  config:
    service:
      telemetry:
        logs:
          level: debug
